<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

 
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="https://medium.com/@shah.sagar.nilesh/">Blog</a>
                </li>
            {% endif %}


   
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="https://github.com/sgzsh269/">Projects</a>
                </li>
            {% endif %}



            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="https://www.linkedin.com/in/sgzsh269/">About</a>
                </li>
            {% endif %}
 

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
</nav>
